{% extends "@Theme/layout.html.twig" %}

{% block content %}
    <h1>Projects ({{projects|length}})</h1>

    <ul>
        {% for project in projects %}
        <li>
            <h3>
                <a href="{{ path("projects_view", {"projectCode": project.getCode() })}}">#{{ project.code }}: {{ project.name }}</a>
            </h3>
            <i>{{project.description}}</i>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
