{% extends "@Theme/layout.html.twig" %}

{% block content %}
    <h2>Route: {{ route.getName }}</h2>
    <ul>
        <li>Name: {{ route.getName }}</li>
        <li>Path: {{ route.getPath }}</li>
        <li>Controller: {{ route.getController }}</li>
    </ul>
    
    <h3>Summary</h3>
    <p>{{ route.getSummary() }}</p>
    <h3>Description</h3>
    <p>{{ route.getDescription() }}</p>
{% endblock %}
